{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "components": "./components",
                    "containers": "./containers",
                    "pages": "./pages",
                }
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    }
}
